#campoJogo{
		
			position: absolute; 
	left: 30%; 
	/* posiciona a 90px para a esquerda */ 
	top: 50px;

			width: 450px;
			height: 450px;
			
			
		}
		.campo{
			width: 150px;
    		height: 123px;
    		font-size:40px;

		}
		.campo:hover { 
    		background-color:yellow;
    		
		}
		.teste{
			
		}
		#menu{
			/* posiciona a 90px para a esquerda */ 
			margin-top: 20px;
			font-size: 35px; 
			color: blue;
			
		}
		 .opcoes:hover{
		 	background-color: #8D8585;
		 	 cursor:pointer;
		 	 color: #fff;
		 }
		 ul li a{
		 	text-decoration:none; 	
		 	font-size: 30px;
		 }
